<script>
  export let name;
  export let lastname;
  import Header from "./Header.svelte";
  import Footer from "./Footer.svelte";
  import Register from "./Register.svelte";
  import axios from "axios";

  /*  function enviar_foto(){
      var formData = new FormData();
    var imagefile = document.querySelector("#file");
    formData.append("imagen", imagefile.files[0]);
    formData.append("precio_a", 1.25);
    formData.append("descripcion", "dsfg");
    formData.append("establecimiento", 1);
    axios.defaults.headers.common[
      "Authorization"
    ] = `Token ad862f424900f57b2fa473ed6c1d6627f866d4c1`;
    axios.defaults.headers.post["Content-Type"] = `multipart/form-data`;
    axios
      .post(
        "http://localhost/propietario/mi-tienda/productos/",
        formData
      )
      .then(function(response) {
        console.log(response);
      })
      .catch(function(error, request) {
        console.log(error, request);
      })
      .finally(function() {
        // always executed
      });
    } */

  var script = document.createElement("script");
  script.src =
    "https://maps.googleapis.com/maps/api/js?key=AIzaSyCza02HSWvDcSPN2F53DHv8Q6NTxM9wlOc&callback=initMap";
  script.defer = true;
  script.async = true;

  // Attach your callback function to the `window` object
  window.initMap = function() {
    var uluru = { lat: -3.9025, lng: -78.8122 };
    var uluru1 = { lat: -3.90256, lng: -78.8134 };
    var map = new google.maps.Map(document.getElementById("map"), {
      zoom: 18,
      center: uluru
    });

    jQuery.getJSON("data.json", function(data) {
      var items = [];
      async.each(items, function(item, callback) {
        setTimeout(() => {
          console.log(item);
        }, 500);
      });

      /*  data.forEach(item => {
        setTimeout(() => {
          let infowindow = new google.maps.InfoWindow({
            content: `<div style="text-align: center" ><h4 style="margin:0px">i${item.title}</h4><p>${item.address}</p><p>${item.country_code}${item.phone}</p></div>`
          });
          var marker = new google.maps.Marker({
            position: { lat: Number(item.lat), lng: Number(item.lng) },
            map: map
          });
          infowindow.open(map, marker);
        }, 2000);
      }); */
      /*   data.map(item => {
        
      }); */
    });
  };
  const messaging = firebase.messaging();
  messaging.usePublicVapidKey(
    "BAJBpR6jLdyH9uN1jtMeIjm1CVb9r2oT2-lZPVEwUJTKH0ecsjgwZb09GF0kG8sJdr6OgyhxItm4j-ZHO-pt1ck"
  );
  const tokenDivId = "token_div";
  const permissionDivId = "permission_div";

  // [START refresh_token]
  // Callback fired if Instance ID token is updated.
  messaging.onTokenRefresh(function() {
    messaging
      .getToken()
      .then(function(refreshedToken) {
        console.log("Token refreshed.");
        // Indicate that the new Instance ID token has not yet been sent to the
        // app server.
        setTokenSentToServer(false);
        // Send Instance ID token to app server.
        sendTokenToServer(refreshedToken);
        // [START_EXCLUDE]
        // Display new Instance ID token and clear UI of all previous messages.
        resetUI();
        // [END_EXCLUDE]
      })
      .catch(function(err) {
        console.log("Unable to retrieve refreshed token ", err);
        showToken("Unable to retrieve refreshed token ", err);
      });
  });
  // [END refresh_token]

  // [START receive_message]
  // Handle incoming messages. Called when:
  // - a message is received while the app has focus
  // - the user clicks on an app notification created by a service worker
  //   `messaging.setBackgroundMessageHandler` handler.
  messaging.onMessage(function(payload) {
    console.log("Message received. ", payload);
    // [START_EXCLUDE]
    // Update the UI to include the received message.
    appendMessage(payload);
    // [END_EXCLUDE]
  });
  // [END receive_message]

  function resetUI() {
    clearMessages();
    showToken("loading...");
    // [START get_token]
    // Get Instance ID token. Initially this makes a network call, once retrieved
    // subsequent calls to getToken will return from cache.
    messaging
      .getToken()
      .then(function(currentToken) {
        if (currentToken) {
          sendTokenToServer(currentToken);
          updateUIForPushEnabled(currentToken);
        } else {
          // Show permission request.
          console.log(
            "No Instance ID token available. Request permission to generate one."
          );
          // Show permission UI.
          updateUIForPushPermissionRequired();
          setTokenSentToServer(false);
        }
      })
      .catch(function(err) {
        console.log("An error occurred while retrieving token. ", err);
        showToken("Error retrieving Instance ID token. ", err);
        setTokenSentToServer(false);
      });
    // [END get_token]
  }

  function showToken(currentToken) {
    // Show token in console and UI.
    var tokenElement = document.querySelector("#token");
    console.log(tokenElement);
    if (tokenElement) {
      tokenElement.textContent = currentToken;
    }
  }

  // Send the Instance ID token your application server, so that it can:
  // - send messages back to this app
  // - subscribe/unsubscribe the token from topics
  function sendTokenToServer(currentToken) {
    if (!isTokenSentToServer()) {
      console.log("Sending token to server...");
      // TODO(developer): Send the current token to your server.
      setTokenSentToServer(true);
    } else {
      console.log(
        "Token already sent to server so won't send it again " +
          "unless it changes"
      );
    }
  }

  function isTokenSentToServer() {
    return window.localStorage.getItem("sentToServer") === "1";
  }

  function setTokenSentToServer(sent) {
    window.localStorage.setItem("sentToServer", sent ? "1" : "0");
  }

  function showHideDiv(divId, show) {
    const div = document.querySelector("#" + divId);
    if (show) {
      div.style = "display: visible";
    } else {
      div.style = "display: none";
    }
  }

  function requestPermission() {
    console.log("Requesting permission...");
    // [START request_permission]
    messaging
      .requestPermission()
      .then(function() {
        console.log("Notification permission granted.");
        // TODO(developer): Retrieve an Instance ID token for use with FCM.
        // [START_EXCLUDE]
        // In many cases once an app has been granted notification permission, it
        // should update its UI reflecting this.
        resetUI();
        // [END_EXCLUDE]
      })
      .catch(function(err) {
        console.log("Unable to get permission to notify.", err);
      });
    // [END request_permission]
  }

  function deleteToken() {
    // Delete Instance ID token.
    // [START delete_token]
    messaging
      .getToken()
      .then(function(currentToken) {
        messaging
          .deleteToken(currentToken)
          .then(function() {
            console.log("Token deleted.");
            setTokenSentToServer(false);
            // [START_EXCLUDE]
            // Once token is deleted update UI.
            resetUI();
            // [END_EXCLUDE]
          })
          .catch(function(err) {
            console.log("Unable to delete token. ", err);
          });
        // [END delete_token]
      })
      .catch(function(err) {
        console.log("Error retrieving Instance ID token. ", err);
        showToken("Error retrieving Instance ID token. ", err);
      });
  }

  // Add a message to the messages element.
  function appendMessage(payload) {
    const messagesElement = document.querySelector("#messages");
    const dataHeaderELement = document.createElement("h5");
    const dataElement = document.createElement("pre");
    dataElement.style = "overflow-x:hidden;";
    dataHeaderELement.textContent = "Received message:";
    dataElement.textContent = JSON.stringify(payload, null, 2);
    messagesElement.appendChild(dataHeaderELement);
    messagesElement.appendChild(dataElement);
  }

  // Clear the messages element of all children.
  function clearMessages() {
    const messagesElement = document.querySelector("#messages");
    if (messagesElement) {
      while (messagesElement.hasChildNodes()) {
        messagesElement.removeChild(messagesElement.lastChild);
      }
    }
  }

  function updateUIForPushEnabled(currentToken) {
    showHideDiv(tokenDivId, true);
    showHideDiv(permissionDivId, false);
    showToken(currentToken);
  }

  function updateUIForPushPermissionRequired() {
    showHideDiv(tokenDivId, false);
    showHideDiv(permissionDivId, true);
  }

  resetUI();
  // Append the 'script' element to 'head'
</script>

<style>
  #map {
    height: 100%;
    font-family: "Ubuntu", sans-serif !important;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif !important;
  }
  :global(body) {
    background-color: #1f4068;
    color: #191a22;
    font-family: "Ubuntu", sans-serif !important;
    margin: 0px;
    padding: 0px;
  }

  :global(:root) {
    --theme-color: purple;
    font-family: "Ubuntu", sans-serif !important;
  }

  main {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  p {
    color: var(--theme-color);
    font-size: 22px;
  }
  .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .color {
    color: #162447;
    color: #1f4068;
    color: #1b1b2f;
    color: #e43f5a;
  }
</style>

<main>

  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Header section containing title -->
    <header
      class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div
          class="mdl-layout__header-row mdl-cell mdl-cell--12-col
          mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
          <h3>Firebase Cloud Messaging</h3>
        </div>
      </div>
    </header>

    <Header />
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

      <div
        class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col
        mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">

          <div id="token_div" style="display: none;">
            <h4>Instance ID Token</h4>
            <p id="token" style="word-break: break-all;">as</p>
            <button
              class="mdl-button mdl-js-button mdl-button--raised
              mdl-button--colored"
              onclick="deleteToken()">
              Delete Token
            </button>
          </div>

          <div id="permission_div" style="display: none;">
            <h4>Needs Permission</h4>
            <p id="token" />
            <button
              class="mdl-button mdl-js-button mdl-button--raised
              mdl-button--colored"
              onclick="requestPermission()">
              Request Permission
            </button>
          </div>

          <div id="messages">a</div>
        </div>
      </div>

    </div>
  </div>
  <Footer />

</main>
