<style>
  .container {
    width: 1024px;
    display: flex;
    margin: 0 auto;
    height: 60px;
  }

  .container__con {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
    bottom: 0px;

    height: 60px;
    background-color: rgba(28, 41, 56, 0.8);
  }
</style>

<footer>
  <div class="container">
    <div class="container__con">
      <div>Hecho con Amor en Panguintza - Ecuador</div>
      <div>Proudly powered by Svelte</div>
    </div>
  </div>
</footer>