<script>

</script>

<style>
  header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 1024px;
    display: flex;
    background-color: #fafbfc;
  }

  .container__con {
    display: flex;
    width: 100%;
  }

  span {
    font-family: "Ubuntu", sans-serif;
    font-family: 13px;
  }

  .profile {
    display: flex;
    width: 50%;
  }

  .profile__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile__logo figure {
    margin-inline-end: 15px;
  }

  .profile__datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
  }

  .profile__datos h1 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .redes_sociales {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .redes_sociales img{
    margin:0 0.5em 0 0;
  }

  li {
    display: inline-block;
  }
</style>

<header>
  <div class="container">
    <div class="container__con">
      <div class="profile">
        <div class="profile__logo">
          <figure>
            <img
              src="https://pbs.twimg.com/profile_images/1121395911849062400/7exmJEg4_400x400.png"
              height="50"
              alt="Logo Svelte" />
          </figure>
        </div>
        <div class="profile__datos">
          <h1>Jefferson Alvarez</h1>
          <span>Frontend & Foundation Layer at Platzi</span>
        </div>
      </div>
      <div class="redes_sociales">
        <ul>
          <li>
            <a href="https://www.google.com">
              <img src="github-icon.png" alt="background image" width="20"/>
            </a>
          </li>
          <li>
            <a href="https://www.google.com">
              <img src="twitter-icon.png" alt="background image" width="20"/>
            </a>
          </li>
          <li>
            <a href="https://www.google.com">
              <img src="instagram-icon.png" alt="background image" width="20"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
