<style>
  .container {
    display: flex;
    width: 100%;
  }

  .izquierda {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #1b1b2f;
  }

  .derecha {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #e43f5a;
    align-items: center;
    justify-content: center;
  }

  .register {
    display: flex;
    width: 60%;
    flex-direction: column;
  }

  .contenedor-input {
    width: 100%;
  }
</style>

<div class="container">
  <div class="izquierda">izquierda</div>
  <div class="derecha">
    <div class="register">
      <div class="contenedor-input">
        <input style="width:100%" />
      </div>

    </div>
  </div>

</div>
